extends layout.pug
block content
    #content Bienvenue sur mon site E-commerce
    each product in products
        p #{product.name}
        img(src=product.image)
        p #{product.price}
      
