doctype html
html
  head
    title title
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src=process.env.BROWSER_REFRESH_URL)  
  body
    main
      block header
        header.header
          h1 Mon site E-comerce
      block content